@font-face {
    font-family: 'courier_prime';
    src: url('courier_prime-webfont.eot');
    src: url('courier_prime-webfont.eot?#iefix') format('embedded-opentype'),
         url('courier_prime-webfont.woff') format('woff'),
         url('courier_prime-webfont.ttf') format('truetype'),
         url('courier_prime-webfont.svg#courier_primeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chivo_black';
    src: url('chivo-black-webfont.eot');
    src: url('chivo-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('chivo-black-webfont.woff2') format('woff2'),
         url('chivo-black-webfont.woff') format('woff'),
         url('chivo-black-webfont.ttf') format('truetype'),
         url('chivo-black-webfont.svg#chivoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection {
  background: #b6ff00; 
  text-shadow: none;
}

::-moz-selection {
  background: #b6ff00; 
  text-shadow: none;
}

body {
  margin-left: 60px;
  text-rendering: optimizeLegibility;
  display: none;
  min-width: 680px;
}

header {
  max-width: 560px;
  font-family: 'chivo_black', Helvetica, sans-serif;
  line-height: 0.9;
  border-top: solid black 20px;
  margin-top: 50px;
  display: inline-block;
}

header h1 {
  font-size: 94px;
  padding-top:0;
  margin: 10px 0 -20px -1px;
  display:inline-block;
  font-weight: normal;
}

header short {
  font-size: 10px;
  color: #f8584e;
  margin-right: -22px;
  position: relative;
  top:-42px;
  left:2px;
}

em {
  font-style: normal;
  color: #f8584e;
}

header ul {
  list-style: none;
  color: #228DFF;
  font-size: 52px;
  padding: 0;
  padding-left: 2px;
  margin-top: 63px;
  margin-bottom: 0;
  border-bottom: black solid 4px;
  padding-bottom: 12px;
  max-width: 560px;
}

a {
  text-decoration: none;
  color: #228DFF; 
}

a:hover {
  opacity: 0.8;  
}

header ul li {
  display: inline;
  padding-right: 20px;
}

p {
  max-width: 700px;
  font-family: 'courier_prime', Courier, mono;
  font-size: 36px; 
  line-height: 1.2;
  padding: 0;
  margin-left: -1px;
  display:inline-block;
  margin-top: 30px;
}

a h1, a:hover h1 {
  color: black;
}

.black {
	color: black;
}
@media only screen and (max-width: 800px) {
  body {
    min-width: 580px;
    max-width: 620px;
  }

  header {
    max-width: 520px;
  }

  header h1 {
    font-size: 88px;
  }
  
  header ul li {
    font-size: 46px; 
  }

  p {
    font-size: 32px;
    max-width: 540px; 
  }
}

@media only screen and (max-width: 750px) {
  body {
    min-width: 520px;
    max-width: 540px;
  }
  
  header {
    max-width: 500px;
  }

  header h1 {
    font-size: 84px;
  }
  
  header ul li {
    font-size: 42px; 
  }

  p {
    font-size: 28px;
    max-width: 520px; 
  }
}

@media only screen and (max-width: 700px) {
  body {
    min-width: 420px;
    max-width: 500px;
  }
  
  header {
    max-width: 420px;
  }

  header h1 {
    font-size: 64px;
  }
  
  header ul li {
    font-size: 34px; 
  }

  p {
    font-size: 20px;
    max-width: 460px; 
  }
}

@media only screen and (min-device-width : 320px) 
                   and (max-device-width : 480px) 
                   and (min-device-width : 320px) 
                   and (max-device-width : 568px) {
  body {
    min-width: none;
    max-width: none;
    display: block;
    width: 90%;
  }
  
  header {
    min-width: none;
    max-width: none;
    display: block;
  }

  header h1 {
    min-width: none;
    max-width: none;
    display: block;
  }
  
  header ul {
    min-width: none;
    max-width: none;
    display: block;
  }

  p {
    min-width: none;
    max-width: none;
    display: block;
  }
}
