@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

body {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 18pt;
	color: white;
	background: rgb(34,34,34);
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility
}

ul {
	text-align: center;
	margin: 6pt 0 12pt 0;
}

li {
	list-style: none;
	font-weight: 300;
	font-size: 20pt;
	display: inline;
	margin: 0 2.5em 0 1.25em;
}

h1 {
	font-size: 160pt;
	font-weight: 200;
	font-variant: small-caps;
	margin: 0;
	text-align: center;
	text-shadow: 1px 0 0 rgb(34,34,34), 0 -1px 0 rgb(34,34,34), 0 1px 0 rgb(34,34,34), -1px 0 0 rgb(34,34,34);
}

h2 {
	font-size: 48pt;
	font-weight: 600;
	font-variant: small-caps;
  margin: 0;
	text-align: center;
	text-shadow: 1px 0 0 rgb(34,34,34), 0 -1px 0 rgb(34,34,34), 0 1px 0 rgb(34,34,34), -1px 0 0 rgb(34,34,34);
}

#desk {
	height: 450px;
	text-align: center;
	vertical-align: middle;
	background-image: url("../img/desk.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: fixed; 
	background-size: 100%;
	overflow: hidden;
	margin: 0;
}

div:not(#desk) {
	font-weight: 300;
	font-size: 18pt;
	text-align: center;
	width: 27em;
	margin-top: 2.5em;
	margin-bottom: 6em;
	margin-left: auto;
	margin-right: auto;
}

a, a:visited, a:active {
	text-decoration: none;
	color: white;
}

a:not(.listChild), a:not(.listChild):visited, a:not(.listChild):active{
	font-weight: 600;
	color: #fdf1aa;
}

a:hover {
	color: lightgray;	
}

p {
	text-align: left;
	line-height: 170%;
	padding-left: 60pt;
}

.love {
	font-size: 12pt;
	text-align: center;
	margin: 2em;
	color: #fdf1aa;
}

div:not(#desk).sidebar {
	float: left;
	width: 36pt;
	margin: 0 24pt 0 0;
}

div.sidebar img{
	width: 28pt;
	margin-bottom: 6pt;
}

img#otter {
	margin-top: 12pt;
}

.transitionable {
	opacity: 1.0;
	-webkit-transition: .3s ease-in-out opacity;
  -moz-transition: .3s ease-in-out opacity;
  -o-transition: .3s ease-in-out opacity;
  transition: .3s ease-in-out opacity;
}

.transitionable.active {
	opacity: 0.6;
	-webkit-transition: .3s ease-in-out opacity;
  -moz-transition: .3s ease-in-out opacity;
  -o-transition: .3s ease-in-out opacity;
  transition: .3s ease-in-out opacity;
}

@media only screen and (max-device-width: 480px) {
	.love {
		font-size: 20pt;
	}
}
