@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

*{
  font-family: 'Permanent Marker', cursive;
  font-size: 72px;
  color: #e74c3c;
}

body {
  background-image: url("../images/lined_paper.png");
}

.underline {
  text-decoration: underline;
}

#sharpie {
  height: 80px;
	position: relative;
	left: 140;
	float:right;
}

#twizzlers {
  height: 450px;
  position: relative;
  left: -200px;
  margin-bottom:-250px; 
  margin-right:-180px;
  float: left;
}

#main {
  min-width:400px;
  max-width: 1100px;
  padding: 60px 60px 0 60px;
  margin: 0 auto 0 auto;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 52px;
}

em { 
  font-family: 'Just Me Again Down Here', cursive;
  display: inline-block;
  position: relative;
  top:-5px;
  padding-right:5px;

  /* Font-weight hack to tell Mobile Safari to stop mangling custom fonts */
  font-weight: normal;
  text-shadow: none;
}

a {
  opacity: 0.9;
  color: #f1c40f;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  opacity: 1.0;
}

@media only screen and (max-width: 1200px) {
  * {
    font-size: 64px;
  }
  
  p {
    font-size: 48px;
  }

  em {
    top: -5px;
  }
}

@media only screen and (max-width: 1100px) {
  * {
    font-size: 56px;
  }

  p {
    font-size: 46px;
  }

  em {
    top: -5px;
  }
}

@media only screen and (max-width: 1000px) {
  * {
    font-size: 52px;
  }
  
  p {
    font-size: 42px;
  }

  em {
    top: -3px;
  }
}

@media only screen and (max-width: 900px) {
  * {
    font-size: 46px;
  }
  
  p {
    font-size: 36px;
  }
  
  em {
    top: -3px;
  }
}

@media only screen and (max-width: 800px) {
  * {
    font-size: 40px;
  }
  
  p {
    font-size: 32px;
  }

  em {
    top: -2px;
  }
}

@media only screen and (max-width: 700px) {
  * {
    font-size: 36px;
  }

  p {
    font-size: 28px;
  }

  em {
    top: -2px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 32px;
  }

  p {
    font-size: 26px;
  }

  em {
    top: -1px;
  }
}

@media only screen and (max-width: 550px) {
  * {
    font-size: 28px;
  }
  
  p {
    font-size: 20px;
  }

  em {
    top: -1px;
  }
}
