@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-family: 'Montserrat', sans-serif;
	background-image: url("../img/creampaper.png");
	width:800px;
	margin:auto;
}

#icon {
	width: 100px;
	margin:20px;
	box-shadow: 0px 1px 8px 0px gray;
	border-radius: 24px;
}

#logo {
	height: 100px;
	margin:20px;
	position: relative;
	top: -10px;
	left: 25px;
}

nav {
	position:relative;
	top: 65px;
	float:right;
}

nav a {
	opacity: 0.9;
	padding: 8px;
	border-radius: 8px;
	font-weight: 700;
	font-size: 24px;
	margin:4px;
	text-shadow: 1px 1px gray;
	box-shadow: 0px 1px 2px 0px gray;
}

p {
	color: #4D392F;
	opacity: 0.8;
	font-size: 32px;
	text-shadow: 1px 1px rgba(255,255,255,0.8);
	margin: 2px 0px 2px 0px;
	text-align: justify;
	position: relative;
	top: 100px;
}

h2, h3 {
	color: #4D392F;
	text-shadow: 1px 1px rgba(255,255,255,0.8);
	width: 500px;
	margin: auto;
	position: relative;
	left: -64px;
}

h2 {
	font-size: 24px;
	opacity: 0.8;
	margin-top: 40px;
}

h3 {
	font-size: 20px;
	opacity: 0.6;
}

#mail {
	font-size: 32px;
	font-weight: 700;
	background-color: #057EF5;
	color: #FCB609;
	opacity: 0.9;
	padding: 8px 12px 8px 12px;
	border-radius: 8px;
	margin-top:40px;
	text-shadow: 1px 1px gray;
	box-shadow: 0px 1px 2px 0px gray;
	display: inline-block;
	position: relative;
	left: 120px;
}

#fineprint {
	opacity: 0.6;
	font-size: 24px;
	text-align: justify;
}

#support {
	background-color: #057EF5;
	color: #FCB609;
}

#privacy {
	background-color: #D75650;
	color: #FCB609;
}

a {
	text-decoration: none;
}

#appstore {
	width: 250px;
	display:inline;
	position:relative;
	position: relative;
	top: 100px;
	left: 62px;
}

#iPhone {
	width: 400px;
	display:inline;
	float:right;
	position: relative;
	top: -300px;
	left: 10px;
	margin-bottom:-300px;
}

small {
	width: 370px;
	display: inline-block;
	opacity: 0.3;
	margin: 2px 0px 2px 0px;
	text-align: justify;
	position: relative;
	top: 100px;
}

footer {
	position:relative;
	color: #4D392F;
	opacity: 0.3;
	text-shadow: 1px 1px rgba(255,255,255,0.8);
	position: relative;
	top: 140px;
}

@media
only screen and (min-device-width : 320px) and (max-device-width : 480px),
only screen and (min-device-width : 320px) and (max-device-width : 568px), 
only screen and (min-device-width: 375px) and (max-device-width: 667px),
only screen and (min-device-width: 414px) and (max-device-width: 736px) {
	#icon {
		width: 160px;
	}
	
	#logo {
		height: 160px;
	}
	
	nav {
		display: block;
		float:none;
		text-align: center;
		margin-bottom: 40px;
	}
	
	nav a {
		padding: 12px 24px 12px 24px;
		border-radius: 16px;
		box-shadow: 0px 1px 6px 0px gray;
	}
	
	#iphone {
		width: 300px;
	}
}