@font-face {
    font-family: 'norwesterregular';
    src: url('norwester-webfont.eot');
    src: url('norwester-webfont.eot?#iefix') format('embedded-opentype'),
         url('norwester-webfont.woff') format('woff'),
         url('norwester-webfont.ttf') format('truetype'),
         url('norwester-webfont.svg#norwesterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'norwesterregular', sans-serif;
	background: #636094; /* Old browsers */
	background: -moz-linear-gradient(top, #636094 0%, #608494 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636094), color-stop(100%,#608494)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #636094 0%,#608494 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #636094 0%,#608494 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #636094 0%,#608494 100%); /* IE10+ */
	background: linear-gradient(to bottom, #636094 0%,#608494 100%); /* W3C */
	width:800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
	margin:auto;
}

#icon {
	width: 100px;
	margin:20px;
	box-shadow: 0px 1px 8px 0px #333;
	border-radius: 24px;
}

#logo {
	height: 100px;
	margin:20px;
	position: relative;
	top: -25px;
	left: 25px;
}

nav {
	position:relative;
	top: 65px;
	float:right;
}

nav a {
	opacity: 0.9;
	padding: 8px;
	border-radius: 8px;
	font-weight: 700;
	font-size: 24px;
	margin:4px;
	text-shadow: 1px 1px #fff;
	box-shadow: 0px 1px 2px 0px #333;
}

p {
	color: #fff;
	opacity: 0.8;
	font-size: 32px;
	text-shadow: 1px 1px rgba(0,0,0,0.4);
	margin: 2px 0px 2px 0px;
	text-align: justify;
	position: relative;
	top: 100px;
}

h2, h3 {
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,0.4);
	width: 500px;
	margin: auto;
	position: relative;
	left: -64px;
}

h2 {
	font-size: 24px;
	opacity: 0.8;
	margin-top: 40px;
}

h3 {
	font-size: 20px;
	opacity: 0.6;
}

#mail {
	font-size: 32px;
	font-weight: 700;
	background-color: #00FFB3;
	color: #636094;
	opacity: 0.9;
	padding: 8px 12px 8px 12px;
	border-radius: 8px;
	margin-top:40px;
	text-shadow: 1px 1px #fff;
	box-shadow: 0px 1px 2px 0px #333;
	display: inline-block;
	position: relative;
	left: 150px;
}

#fineprint {
	opacity: 0.6;
	font-size: 24px;
	text-align: justify;
}

#support, #privacy {
	background-color: #00FFB3;
	color: #636094;
}

a {
	text-decoration: none;
}

#appstore {
	width: 250px;
	display:inline;
	position:relative;
	position: relative;
	top: 100px;
	left: 62px;
}

#iPhone {
	width: 400px;
	display:inline;
	float:right;
	position: relative;
	top: -300px;
	left: 10px;
	margin-bottom:-300px;
}

small {
	width: 370px;
	display: inline-block;
	opacity: 0.3;
	margin: 2px 0px 2px 0px;
	text-align: justify;
	position: relative;
	top: 100px;
}

footer {
	position:relative;
	color: #00FFB3;
	opacity: 0.3;
	position: relative;
	top: 140px;
}

footer a:visited,
footer a:active {
	color: #00FFB3;
}

@media
only screen and (min-device-width : 320px) and (max-device-width : 480px),
only screen and (min-device-width : 320px) and (max-device-width : 568px), 
only screen and (min-device-width: 375px) and (max-device-width: 667px),
only screen and (min-device-width: 414px) and (max-device-width: 736px) {
	#icon {
		width: 160px;
	}
	
	#logo {
		height: 160px;
	}
	
	nav {
		display: block;
		float:none;
		text-align: center;
		margin-bottom: 40px;
	}
	
	nav a {
		padding: 12px 24px 12px 24px;
		border-radius: 16px;
		box-shadow: 0px 1px 6px 0px gray;
	}
	
	#iPhone {
		width: 300px;
	}
}